---
import { siteMeta } from "../data/site";
import SocialIcon from "./SocialIcon.astro";
---

<div class="author-bar">
  <img
    class="author-photo"
    src="/images/profile-picture.png"
    alt={siteMeta.author.name}
  />
  <div class="author-info">
    <div class="author-name">{siteMeta.author.name}</div>
    <div class="author-role" data-i18n="role">{siteMeta.author.role.pt}</div>
  </div>
  <div class="author-socials">
    {
      siteMeta.author.links.map((link) => (
        <a class="social-link" href={link.href} target="_blank" rel="noopener noreferrer">
          <SocialIcon label={link.label} />
          {link.label}
        </a>
      ))
    }
  </div>
</div>
